//====================================================================================================

.main-section {

   &__container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      padding-top: rem(80);
      padding-bottom: rem(30);
      column-gap: rem(20);
      @media (max-width: $mobile){
         grid-template-columns: auto;
         row-gap: rem(30);
      }
   }
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 32, 16);
      }
   }
   &__text {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 20);
      }
   }
   .decor-main-section {
      //margin: 0 0 0 auto;
      max-width: 336px;
      margin: 0 rem(22);
      justify-self: center;
      @media (min-width:$mobile){
         width: 100%;
         justify-self: end;
      }
      @media (max-width:$mobile){
         max-width: none;
         @include adaptiveValue("width", 336, 246);
      }
      &__box {
         position: relative;
         padding-bottom: percent(400, 336);
         &::before,
         &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: rem(16);
         }
         &::before {
            z-index: 1;
            background-color: #7E74F1;
            transform: rotate(-9.55deg);
         }
         &::after {
            z-index: 2;
            background: #EAE6FE url("@img/main/lines.svg") top right / 58% no-repeat;
         }
      }
      &__image {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         border-radius: rem(16);
         overflow: hidden;
      }
      &__picture {
         z-index: 3;
         position: absolute;
         left: 0;
         bottom: 0;
      }
   }
   
}

//====================================================================================================

.social {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   row-gap: rem(5);
   @include adaptiveValue("column-gap", 34, 25);
   &__link {
      font-size: rem(22);
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $purpleColor;
         }
      }
   }
}

//====================================================================================================

.services {
   background-color: #FBFBFB;
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: rem(80);
      padding-bottom: rem(30);
   }

   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 100, 30);
      }
   }

   &__items {
      width: 100%;
      display: grid;
      @include adaptiveValue("gap", 56, 20);
      grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
   }
}

.item-service {
   border-radius: rem(8);
   background-color: #fff;
   @include adaptiveValue("padding", 53, 15);
   display: grid;
   justify-items: center;
   text-align: center;
   &__icon {
      width: rem(56);
      height: rem(56);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem(16);
      background-color: #F5F3FE;
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   &__title {
      font-weight: 500;
      line-height: math.div(20, 16);
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }

   &__text {
      font-size: rem(14);
      line-height: math.div(24, 14);
   }
}

//====================================================================================================

.portfolio {

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: rem(80);
      padding-bottom: rem(30);
   }

   &__header {
      display: flex;
      gap: rem(20);
      justify-content: space-between;
      align-items: center;
      @include adaptiveValue("margin-bottom", 144, 30);
      @media (max-width: em(600)){
         align-items: stretch;
         flex-direction: column;
      }
   }

   &__controls {
      display: flex;
      align-items: center;
      gap: rem(16);
      @media (max-width: em(600)){
         justify-content: center;
      }
   }

   &__arrow {
      width: rem(40);
      height: rem(40);
      background-color: #EAE6FE;
      border-radius: 16px;
      color: #7E74F1;
      font-size: rem(11);
      transition: background-color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            background-color: #c1b5fd;
         }
      }
      &_left {
         transform: rotate(-180deg);
      }
      &.swiper-button-disabled {
         opacity: 0.5;
         cursor: default;
         background-color: #EAE6FE;
         color: #7E74F1;
      }
   }
}

.portfolio {

   &__slider {
      @media (max-width: em(650)){
         margin-right: rem(-15);
         padding-right: rem(15);
      }
   }

   &__wrapper {}

   &__slide {}
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.item-portfolio {
   border: 1px solid #F5F5F5;
   border-radius: rem(8);
   overflow: hidden;
   display: flex;
   min-height: 100%;
   flex-direction: column;
   &__image-ibg {
      overflow: hidden;
      padding-bottom: percent(295, 361);
      opacity: 0.5;
      transition: opacity 0.3s ease 0s;
      img {
         object-position: top;
         transition: transform 0.8s ease 0s;
      }
      @media (any-hover: hover){
         &:hover{
            opacity: 1;
            img {
               transform: scale(1.05);
            }
         }
      }
      @media (any-hover: none){
         opacity: 1;
      }
   }

   &__body {
      padding: rem(24);
      display: flex;
      flex-direction: column;
      gap: rem(16);
   }

   &__title {
      flex: 1 1 100%;
   }

   &__link-title {
      font-weight: 500;
      line-height: math.div(20, 16);
      transition: color 0.3s ease 0s;
      min-height: 100%;
      @media (any-hover: hover){
         &:hover{
            color: $purpleColor;
         }
      }
   }

   &__footer {
      display: flex;
      align-items: center;
      gap: rem(16);
   }

   &__category {}

   &__link {
      font-size: rem(9.5);
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $purpleColor;
         }
      }
   }
}